body {
  background-image: radial-gradient(circle at center center, #2c7b8d, #00252e), repeating-radial-gradient(circle at center left, #ffffff, #9bcbd6, 15px, transparent 30px, transparent 30px);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.options {
  position: static;
}

.letter-options {
  margin-top: 80px;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
}

.a, .b, .c {
  border: 5px solid rgb(208, 156, 0);
  border-radius: 50%;
  background-color: rgb(232, 186, 50);
  color: rgb(255, 239, 192);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.number-options-wheel {
  width: 70px;
  margin: 80px auto;
  display: flex;
  flex-flow: column wrap;
}

.three {
  border: 10px solid rgb(253, 244, 195);
  opacity: 1;
  border-radius: 48%;
  color: rgb(255, 244, 195);
  background-color: #000000;
  height: 50px;
  width: 50px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.two, .four {
  border: 10px solid rgb(253, 244, 195);
  border-radius: 48%;
  color: rgb(255, 244, 195);
  background-color: #000000;
  height: 50px;
  width: 50px;
  transform: rotateX(.13turn);
  opacity: 0.5;
  filter: blur(0.4px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.one, .five {
  border: 10px solid rgb(253, 244, 195);
  border-radius: 48%;
  color: rgb(255, 244, 195);
  background-color: #000000;
  height: 50px;
  width: 50px;
  transform: rotateX(.20turn);
  opacity: 0.3;
  filter: blur(0.6px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.spin {
  display: flex;
  justify-content: center;
}

.spin-text {
  border: 20px solid rgb(201, 161, 39);
  height: 200px;
  border-radius:50%;
  width: 200px;
  color: rgb(229, 202, 123);
  background-image: radial-gradient(circle at center center, #2c7b8d, #00252e), repeating-radial-gradient(circle at center left, #ffffff, #9bcbd6, 5px, transparent 30px, transparent 30px);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.money {
  display: flex;
  justify-content: flex-start;
  color: rgb(208, 156, 0);
}

.img-circle {
  border: 5px solid rgb(208, 156, 0);
  border-radius: 50%;
  background-color: rgb(232, 186, 50);
  color: rgb(255, 239, 192);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
}

.img-style {
  width: 20px;
}